@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

* {
  font-family: "Vazirmatn", sans-serif !important;
}

body {
  color: white !important;
  background-color: rgba(52, 52, 52, 1) !important;
}

nav.topNavbar {
  background: linear-gradient(
    90deg,
    #21c6e2 0%,
    #6b88eb 45.29%,
    #b549f6 99.95%
  ) !important;

  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  z-index: 1399;
}

footer.page-footer {
  background: linear-gradient(
    90deg,
    rgba(33, 198, 226, 0.35) 0%,
    rgba(107, 136, 235, 0.35) 45.29%,
    rgba(181, 73, 246, 0.35) 99.95%
  );
  background-blend-mode: multiply;
}

main {
  padding: 40px;
}

/* fade container in navbar */

.fade-item {
  color: white;
  transition: color 300ms !important;
}

.fade-container:has(.fade-item:hover) .fade-item:not(:hover) {
  color: rgba(200, 200, 200, 0.8) !important;
}

/************************************** slick slide ***********************************************/

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* width: unset !important; */
}

.slick-active div {
  opacity: 1 !important;
}

.slick-list {
  border: none;
  overflow: visible !important;
}

.slick-dots li {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  bottom: -35px !important;
}

/* react select */

@media (min-width: 48em) {
  .profileNavbar > div:first-child {
    display: none;
  }
}

/* input type file */

input[type="file"]::file-selector-button {
  font-size: small;
  border: none;
  background: #b549f6;
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #21c6e2;
}
/* input[type="file"] {
  width: 100%;
}

@media (max-width: 48em) {
  input[type="file"] {
    width: 60%;
  }
} */
